<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My personal trips</title>
    </head>

    <body>

        <header>
            <div class="">
                My personal trips
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleEvent(event)">
                    <input id="location" type="text" name="location" value="Paris">
                    <input id="dayFrom" type="text" name="dayFrom" value="2020-03-02">
                    <input id="dayTo" type="text" name="dayTo" value="2020-03-06">
                    <input type="submit" name="" value="Book it!" onclick="return C.handleEvent(event)" onsubmit="return C.handleEvent(event)">
                </form>
            </section>

            <section>
                <strong>Your trips:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>Created by Mario</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
