form {
    background-color: lightsteelblue;
    border: 5px solid #545454;
    border-radius: 50px;
    padding: 40px;
}

input {
    &#name{
        box-sizing: border-box;
    }
    display: block;
    padding: 5px 20px;
    line-height: 16px;
    margin: 10px 0;
}
