$padding: 0.5em;
.resultbox {
    display: grid;
    grid-template:  
    "a d c"
    "b b c";
    grid-template-columns: 1fr 1fr minmax(30%, 50%);
    grid-template-rows: 1fr 15em;
    gap: 3px;
    
    background-color: lightsteelblue;
    border-radius: 2px;

    padding: $padding;
    margin-top: 1em;
    
    .title {
        grid-area: a;
        padding: $padding;
    }
    .weatherBox {
        grid-area: b;
        padding: $padding;
    }
    .image {
        grid-area: c;
        padding: $padding;
        border: 1px none;
        border-radius: 2px;
        background-size: cover;
        background-position: center;
    }
    .dates {
        grid-area: d;
        padding: $padding;
    }
}